#Setting the logging levels for the service
logging:
  level:
    com.netflix: WARN
    org.springframework.web: WARN
    com.coopersoft: WARN
    org.springframework.security: WARN

eureka:
  instance:
    preferIpAddress: true
  client:
    registerWithEureka: true
    fetchRegistry: true
    serviceUrl:
        defaultZone: http://discovery:8761/eureka/

server:
  servlet:
    contextPath: /auth


spring.jpa.database: "MYSQL"
#spring.datasource.platform:  "postgres"
spring.jpa.show-sql: "false"
spring.datasource.testWhileIdle: "true"
spring.datasource.validationQuery: "SELECT 1"
spring.datasource.url: "jdbc:mysql://192.168.1.21:3306/CLOUD_AUTH?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&zeroDateTimeBehavior=CONVERT_TO_NULL&useSSL=false"
spring.datasource.username: "root"
spring.datasource.password: "p0stgr@s"
spring.datasource.driver-class-name: "com.mysql.cj.jdbc.Driver"
spring.jpa.properties.hibernate.dialect: "org.hibernate.dialect.MySQL5Dialect"
signing.key: "345345fsdfsf5345"