server:
  port: 8888
spring:
  profiles:
    active: native
  cloud:
    config:
      server:
        native:
          searchLocations: classpath:config/,classpath:config/roomservice,classpath:config/zuulservice,classpath:config/authenticationservice,classpath:config/businesstemplateservice,classpath:config/archivesbusinessservice,classpath:config/joincorpservice

